<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blagodatnaya13 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Sminex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>T270 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>T270 copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>TOkolitsa 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4106610C2016EE05001282DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410774421F1DA04C0064BCDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410774AD1F1DA13E0064BCDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410B97BC1FD7A5BC003E4D97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>411740341F9F2FF7007478F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4118D8611F7B9F5600EBC904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>413BFBE61F3B0727003F8D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>414DA5161F987914007D21EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>414F64F71F1CAB510084DE4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4150701C1F8F32A80060AA70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415070911F9054EF0060AA70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4171BE5A1ECB369A00B9CDD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>419D6F87201831530071FE9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41D272CF1FAB6FA100B5B1E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
